@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;

}

body {
    font-family: Montserrat, Helvetica, sans-serif;
}

img {
    width: 6.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    font-family: Montserrat, Helvetica, sans-serif;
}


p,
span {
    font-family: ABeeZee, Montserrat, sans-serif;
}

.divider-line {
    height: 0.25rem;
    background-color: #1e1e1e;
    width: 80%;
    margin: 1.25rem auto;
}

.divider-line-mobile {
    height: 0.1875rem;
    background-color: #1e1e1e;
    width: 100%;
    margin: 1.25rem auto;
}



@media (min-width: 769px) {
    /*--------------------------------start of nav section--------------------------------*/

    #apk-image-mobile {
        display: none;
    }

    .divider-line-mobile {
        display: none;
    }

    #nav-mobile {
        display: none;
    }

    #hidden-container {
        display: none;
    }

    #mainmenu {
        background-color: #1e1e1e;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.625rem;
        height: 3.125rem;
        flex-wrap: wrap;
    }

    #mainmenu a.logo {
        margin-right: auto;
    }

    #mainmenu ul {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #1e1e1e;
        text-decoration: none;

    }

    #mainmenu ul li {
        margin-left: 2rem;
        text-decoration: none;

    }

    #mainmenu ul li a {
        text-decoration: none;
        list-style: none;
        border-bottom: none;
        color: white;
        background-color: #1e1e1e;
    }

    #mainmenu ul li a:hover {
        color: gray;
        text-decoration: none;
    }

    #mainmenu ul li a:visited {
        color: white;
    }



    #mainmenu img {
        padding-left: 3.125rem;
        width: 11.25rem;
        height: 3.125rem;
        background-color: #1e1e1e;
    }


    /*--------------------------------end of nav section--------------------------------*/


    /*--------------------------------start of main section--------------------------------*/

    .main-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 30%;
        margin-top: 1%;

    }

    .main-container>.inner-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        width: 80%;
        background-color: #1e1e1e;
    }

    .text-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 1.25rem 0;

    }

    .text-content h1 {
        color: #d98c0f;
        max-width: 37.5rem;
        font-size: 3.5rem;
        line-height: 1.2;
        white-space: nowrap;
    }

    .text-content p {
        color: white;
        width: 100%;
        max-width: 37.5rem;
        font-size: 1.25rem;
        line-height: 1.5;
    }

    .image-content {
        margin: 1.25rem 0;
        display: flex;
        justify-content: right;
        align-items: end;
    }

    .image-content img {
        width: 80%;
        height: auto;
        object-fit: cover;
        max-width: 62.5rem;
        max-height: 31.25rem;
    }


    /*--------------------------------end of main/nav section--------------------------------*/




    /*--------------------------------start of cardlinks section--------------------------------*/

    .cardlinks-header {
        text-align: center;
        font-size: 2rem;
    }

    .cardlinks-container {
        display: flex;
        gap: 1.25rem;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1.25rem;
    }

    .cardlinks-container>.cardlinks-header {
        text-align: center;
    }

    .card {
        border-width: 0.1875rem;
        border-style: double;
        border-color: black;
        border-radius: 0.5rem;
        overflow: hidden;
        width: 25rem;
        height: 25rem;
        background-color: #1e1e1e;
        margin: 1.25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-header {

        background-color: #1e1e1e;
        padding: 0.625rem;
        text-align: center;
        border-top: 0.0625rem solid #1e1e1e;
    }

    .card-header h2 {
        font-size: 1.5em;
        color: #d98c0f;
    }

    .card-image {
        text-align: center;
        padding: 0.9375rem 0;
    }

    .card-image img {
        width: 6.25rem;
        height: auto;
    }

    .card-image figcaption {
        text-align: center;
        padding: 0.5rem;
        font-size: 0.85em;
        color: #666;
    }

    .card-body {
        padding: 0.9375rem;
        font-size: 1em;
        color: white;
        font-size: 1.25rem;
        line-height: 1.5;
        text-align: center;
        margin-bottom: auto;
    }

    .card-footer {
        padding: 0.625rem;
        text-align: center;
        background-color: #1e1e1e;
        border-top: 0.0625rem solid #1e1e1e;
        margin-top: auto;
        display: flex;
        justify-content: center;
    }

    .card-button {
        background-color: #d98c0f;
        color: white;
        width: 65%;
        padding: 0.625rem 1.25rem;
        text-decoration: none;
        border-radius: 0.25rem;
        font-size: 1em;
        display: inline-block;
    }

    .card-button:hover {
        background-color: #b9760b;
    }

    /*--------------------------------end of cardlinks section--------------------------------*/


    /*--------------------------------start of review section--------------------------------*/

    .reviews-header {
        text-align: center;
        font-size: 2rem;
    }

    .reviews-container {
        display: flex;
        gap: 1.25rem;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1.25rem;
    }

    .review-card {
        border: 0.0625rem solid #ddd;
        border-radius: 0.5rem;
        background-color: #fff;
        padding: 1.25rem;
        width: 25rem;
        text-align: left;
        margin: 0.625rem;
        display: flex;
        flex-direction: column;
    }

    .review-rating {
        padding: 1.25rem 0;
        font-size: 2.25rem;
        text-align: left;
    }

    .review-card h3 {
        font-size: 1.5em;
        margin-bottom: 0.625rem;
        text-align: left;
    }

    .review-card p {
        margin: 0.3125rem 0;
        text-align: left;
        flex-grow: 1;
    }

    .review-card button {
        background-color: #007bff;
        color: white;
        padding: 0.625rem 0.9375rem;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        text-align: center;
    }

    .review-card button:hover {
        background-color: #0056b3;
    }

    .review-footer {
        display: flex;
        align-items: center;
        padding-top: 0.625rem;
    }

    .person-icon {
        border-radius: 50%;
        border: 0.0625rem solid #1e1e1e;
        background-color: #474444;
    }

    .review-footer>img {
        font-size: 1.25rem;
        width: 3rem;
        height: 3rem;
        margin-right: 0.625rem;
    }

    .reviewer-info {
        display: flex;
        flex-direction: column;
    }

    .review-footer .reviewer-name {
        font-weight: bold;
        text-align: left;
        display: block;
    }

    .review-footer .review-date {
        font-size: 0.85em;
        color: #d98c0f;
        text-align: left;
        display: block;
    }

    /*--------------------------------end of review section--------------------------------*/

    #hidden-container p {
        text-transform: uppercase;
        letter-spacing: 1.1em;
        line-height: 1.2;
        text-indent: 1.2rem;
        word-spacing: 1.2px;
    }

    #hidden-container p::first-letter {
        font-size: 2em;
        font-weight: bold;
    }

    #hidden-container figure img {
        float: left;
    }

    table tr:nth-child(even) {
        background-color: #CFF;
    }

    table tr:nth-child(odd) {
        background-color: #FFF;
    }

    #cookies-container>input[type="checkbox"] {
        display: none;
    }

    #cookies-container>label {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #1e1e1e;
        color: white;
        padding: 15px 25px;
        border: 1px solid #d98c0f;
        border-radius: 5px;
        z-index: 9999;
        cursor: pointer;
    }

    #cookies-container>input[type="checkbox"]:checked+label {
        opacity: 0;
        pointer-events: none;
    }

    /*--------------------------------star of footer section--------------------------------*/

    .footer-container {
        display: flex;
        justify-content: center;
        background-color: #1e1e1e;
        padding: 1.25rem 0;
        text-align: left;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 87.5rem;
        padding: 0 1.25rem;
        background-color: #1e1e1e;
    }

    .information-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: #1e1e1e;
    }

    .information-text em {
        margin-bottom: 0.3125rem;
        background-color: #1e1e1e;
        color: white;
        font-weight: bold;
    }

    .information-text span {
        margin-bottom: 0.3125rem;
        background-color: #1e1e1e;
        color: white;
    }

    .information-text>.copyright {
        margin-top: 2.5rem;
        color: #d98c0f
    }

    .footer-container aside {
        flex-grow: 0;
        padding: 0.625rem;
        text-align: center;
    }

    /*--------------------------------start of onderhoud section--------------------------------*/
    .header-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.25rem 0;
    }

    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 80%;
        padding: 0.9375rem 0;
        background-color: #1e1e1e;
    }

    .header-content h1 {
        color: #d98c0f;
        font-size: 2.25rem;
    }

    .header-content span {
        width: 60%;
        text-align: left;
        color: #d98c0f;
        font-size: 1.25rem;
        line-height: 1.5;
    }

    .header-content p {
        color: white;
        font-size: 1.25rem;
        max-width: 40%;
        margin: 0 auto;

    }

    .subheading-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .subheading-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 80%;
        padding: 0.9375rem 0;
        background-color: #1e1e1e;
    }

    .subheading-content p {
        width: 80%;
        text-align: left;
        color: white;
        font-size: 1.25rem;
        line-height: 1.2;
    }

    .main-container-detail {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.625rem 0;

    }

    .main-content-detail {
        display: flex;
        width: 80%;
        background-color: #d98c0f;
    }

    .main-text {
        width: 80%;
        padding: 0.625rem;
    }

    .main-text h3 {
        padding: 1.25rem 1.25rem 0.3125rem 1.25rem;
    }

    .main-text p {
        padding: 1.25rem 1.25rem 0.3125rem 1.25rem;
        font-size: 1.5rem;
    }

    .main-text ul {
        padding: 0.3125rem 1.25rem 0.3125rem 2.5%;
        font-size: 1.375rem;
    }

    .main-content-detail img {
        width: 40%;
        object-fit: cover;
    }

    .second-container-detail {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .second-content-detail {
        display: flex;
        flex-direction: row;
        width: 80%;

    }

    .left-part {
        width: 50%;
        padding: 1.25rem;
        text-align: left;
    }

    .left-part h3 {
        text-align: center;
    }

    .left-part ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .left-part li {
        padding: 0.625rem;
    }

    .right-part {
        width: 50%;
        padding: 1.25rem;
        text-align: left;
    }

    .right-part h3 {
        text-align: center;
    }

    .right-part ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .right-part li {
        padding: 0.625rem;
    }

    .third-container-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .third-content-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1%;
    }

    .header-third-detail {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        padding: 1.25rem;
    }

    .header-third-detail h2 {
        text-align: center;
        margin-bottom: 1.25rem;
    }

    .button-contact {
        background-color: #d98c0f;
        text-align: center;
        color: white;
        width: 20%;
        padding: 0.625rem 1.25rem;
        text-decoration: none;
        border-radius: 0.25rem;
        font-size: 1rem;
        display: inline-block;
    }

    .button-contact:hover {
        background-color: #b9760b;
    }

    /*--------------------------------end of onderhoud section--------------------------------*/

    /*--------------------------------start of contact page section--------------------------------*/

    .contact-header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 18.75rem;
        position: relative;
        overflow: hidden;
    }

    .background-image {
        position: absolute;
        filter: brightness(0.4);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .contact-text {
        color: #d98c0f;
        font-size: 3em;
        font-weight: bold;
        z-index: 1;
    }

    .contact-container {
        display: flex;
        margin: 2.5rem;
        width: 100%;
        gap: 2.5rem;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    .contact-left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 43.75rem;
    }

    .contact-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 43.75rem;
    }

    .contact-right address {
        background-color: #1e1e1e;
        color: white;
        padding: 2.5% 2.5%;
        width: 50%;
        margin-bottom: 2.5%;
    }

    .opening-hours {
        background-color: #1e1e1e;
        color: white;
        padding: 2.5% 2.5%;
        width: 50%;
        text-align: left;
    }

    .opening-hours h2 {
        color: #d98c0f;
        text-align: center;
        margin-bottom: 1.25rem;
    }

    .time-columns {
        display: flex;
        justify-content: space-between;
    }

    .days,
    .hours {
        display: flex;
        flex-direction: column;
    }

    .days span,
    .hours span {
        margin-bottom: 0.625rem;
    }




    .contact-content {
        width: 80%;
        background-color: #1e1e1e;
        padding: 1.25rem 3.125rem;
    }

    .contact-content h1 {
        color: #d98c0f;
        text-align: center;
        font-size: 1.875rem;
    }

    .contact-content p {
        text-align: center;
        color: white;
        font-size: 1.25rem;
        padding-bottom: 1.25rem;
    }

    form {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 1.5625rem;
    }

    form input {
        border-radius: 0.625rem;
        padding: 0.3125rem;
        margin: 0.625rem 0;
        border: 0.0625rem solid black;
        background-color: white;
        color: #fff;
    }

    form textarea {
        border-radius: 0.625rem;
        padding: 0.3125rem;
        margin-bottom: 1.25rem;
        border: 0.0625rem solid black;

    }

    form button {
        padding: 0.625rem;
        border-radius: 0.625rem;
        background-color: #1e1e1e;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    form button:hover {
        background-color: #e68a00;
    }

    /*--------------------------------end of contact page section--------------------------------*/
}

@media (max-width: 768px) {

    #apk-image-desktop {
        display: none;
    }

    .divider-line {
        display: none;
    }

    #nav-desktop {
        display: none;
    }

    #hidden-container {
        display: none;
    }

    #nav-mobile {
        background-color: #1e1e1e;
        width: 100%;
        height: 50px;
    }

    #menu-toggle {
        display: none;
    }

    .hamburger {
        position: absolute;
        top: 10px;
        right: 0px;
        width: 30px;
        height: 20px;
        cursor: pointer;
    }

    .hamburger span {
        position: absolute;
        left: 0;
        right: 0;
        height: 3px;
        background-color: #d98c0f;
    }

    .hamburger span:nth-child(1) {
        top: 0;
    }

    .hamburger span:nth-child(2) {
        top: 9px;
    }

    .hamburger span:nth-child(3) {
        bottom: 0;
    }

    .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 120px;
        height: 100%;
        background-color: #1e1e1e;
        transform: translateX(300px);
    }

    .menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .menu ul li {
        padding: 10px;
    }

    .menu ul li a {
        color: #FFF;
        text-decoration: none;
    }

    #menu-toggle:checked~.menu {
        transform: translateX(0);
    }

    /*--------------------------------end of nav section--------------------------------*/


    /*--------------------------------start of main section--------------------------------*/

    .main-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 30%;
        margin-top: 1%;

    }

    .main-container>.inner-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        background-color: #d98c0f;
    }

    .text-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 1.25rem 0;

    }

    .text-content h1 {
        color: #1e1e1e;
        max-width: 100%;
        font-size: 2.5rem;
        line-height: 1.2;
    }

    .text-content p {
        color: #1e1e1e;
        width: 100%;
        max-width: 37.5rem;
        font-size: 1.25rem;
        line-height: 1.5;
    }

    .image-content {
        margin: 1.25rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-content img {
        width: 80%;
        height: auto;
        object-fit: cover;
        max-width: 50rem;
        max-height: 25rem;
    }


    /*--------------------------------end of main/nav section--------------------------------*/




    /*--------------------------------start of cardlinks section--------------------------------*/

    .cardlinks-header {
        text-align: center;
        font-size: 2rem;
    }

    .cardlinks-container {
        display: flex;
        gap: 1.25rem;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1.25rem;
    }

    .cardlinks-container>.cardlinks-header {
        text-align: center;
    }

    .card {
        border: 0.1875rem double black;
        border-radius: 0.5rem;
        overflow: hidden;
        width: 20rem;
        height: 20rem;
        background-color: #1e1e1e;
        margin: 1.25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-header {

        background-color: #1e1e1e;
        padding: 0.625rem;
        text-align: center;
        border-top: 0.0625rem solid #1e1e1e;
    }

    .card-header h2 {
        font-size: 1.5rem;
        color: #d98c0f;
    }

    .card-image {
        text-align: center;
        padding: 0.9375rem 0;
    }

    .card-image img {
        width: 25%;
        height: auto;
    }

    .card-image figcaption {
        text-align: center;
        padding: 0.5rem;
        font-size: 0.85em;
        color: #666;
    }

    .card-body {
        padding: 0.9375rem;
        font-size: 1rem;
        color: white;
        font-size: 1.25rem;
        line-height: 1.5;
        text-align: center;
        margin-bottom: auto;
    }

    .card-footer {
        padding: 0.625rem;
        text-align: center;
        background-color: #1e1e1e;
        border-top: 0.0625rem solid #1e1e1e;
        margin-top: auto;
        display: flex;
        justify-content: center;
    }

    .card-button {
        background-color: #d98c0f;
        color: white;
        width: 65%;
        padding: 0.625rem 1.25rem;
        text-decoration: none;
        border-radius: 0.25rem;
        font-size: 1rem;
        display: inline-block;
    }

    .card-button:hover {
        background-color: #b9760b;
    }

    /*--------------------------------end of cardlinks section--------------------------------*/


    /*--------------------------------start of review section--------------------------------*/

    .reviews-header {
        text-align: center;
        font-size: 2rem;
    }

    .reviews-container {
        display: flex;
        gap: 1.25rem;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1.25rem;
    }

    .review-card {
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        background-color: #fff;
        padding: 1.25rem;
        width: 25rem;
        text-align: left;
        margin: 0.625rem;
        display: flex;
        flex-direction: column;
    }

    .review-rating {
        padding: 1.25rem 0;
        font-size: 2.25rem;
        text-align: left;
    }

    .review-card h3 {
        font-size: 1.5em;
        margin-bottom: 0.625rem;
        text-align: left;
    }

    .review-card p {
        margin: 0.3125rem 0;
        text-align: left;
        flex-grow: 1;
    }

    .review-card button {
        background-color: #007bff;
        color: white;
        padding: 0.625rem 0.9375rem;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        text-align: center;
    }

    .review-card button:hover {
        background-color: #0056b3;
    }

    .review-footer {
        display: flex;
        align-items: center;
        padding-top: 0.625rem;
    }

    .person-icon {
        border-radius: 50%;
        border: 1px solid #1e1e1e;
        padding: 0.625rem;
        background-color: #474444;
    }

    .review-footer>img {
        font-size: 1.25rem;
        width: 3rem;
        height: 3rem;
        margin-right: 0.625rem;
    }

    .reviewer-info {
        display: flex;
        flex-direction: column;
    }

    .review-footer .reviewer-name {
        font-weight: bold;
        text-align: left;
        display: block;
    }

    .review-footer .review-date {
        font-size: 0.85em;
        color: #d98c0f;
        text-align: left;
        display: block;
    }

    /*--------------------------------end of review section--------------------------------*/

    /*--------------------------------star of footer section--------------------------------*/

    .footer-container {
        display: flex;
        justify-content: center;
        background-color: #1e1e1e;
        padding: 1.25rem 0;
        text-align: left;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 87.5rem;
        padding: 0 1.25rem;
        background-color: #1e1e1e;
    }

    .information-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: #1e1e1e;
    }

    .information-text em {
        margin-bottom: 0.3125rem;
        background-color: #1e1e1e;
        color: white;
        font-weight: bold;
    }

    .information-text span {
        margin-bottom: 0.3125rem;
        background-color: #1e1e1e;
        color: white;
    }

    .information-text>.copyright {
        margin-top: 2.5rem;
        color: #d98c0f
    }

    .footer-container aside {
        display: none;
    }

    /*--------------------------------start of onderhoud section--------------------------------*/
    .header-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.25rem 0 0.625rem;
    }

    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 1.25rem 0;
        background-color: #1e1e1e;
    }

    .header-content h1 {
        color: #d98c0f;
        font-size: 1.5rem;
    }

    .header-content span {
        width: 90%;
        text-align: left;
        color: #d98c0f;
        font-size: 1.25rem;
        line-height: 1.5;
    }

    .header-content p {
        color: white;
        text-align: left;
        font-size: 1.25rem;
        max-width: 90%;
        margin: 0 auto;

    }

    .subheading-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .subheading-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 1.25rem 0;
        background-color: #1e1e1e;
    }

    .subheading-content p {
        width: 90%;
        text-align: left;
        color: white;
        font-size: 1.25rem;
        line-height: 1.2;
    }

    .main-container-detail {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.25rem 0;

    }

    .main-content-detail {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #d98c0f;
    }

    .main-text {
        width: 90%;
        padding: 1.25rem;
    }

    .main-text h3 {
        padding-bottom: 1.25rem;
    }

    .main-text p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
    }


    .main-content-detail img {
        width: 100%;
        object-fit: cover;
    }

    .second-container-detail {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .second-content-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .left-part {
        width: 90%;
        padding: 1.25rem;
        text-align: left;
    }

    .left-part h3 {
        text-align: center;
    }

    .left-part ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .left-part li {
        padding: 0.625rem;
    }

    .right-part {
        width: 90%;
        padding: 1.25rem;
        text-align: left;
    }

    .right-part h3 {
        text-align: center;
    }

    .right-part ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .right-part li {
        padding: 0.625rem;

    }

    .third-container-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.25rem;
    }

    .third-content-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.25rem;
    }

    .header-third-detail {
        display: flex;
        justify-content: center;
        width: 110%;
        align-items: center;
    }

    .header-third-detail h2 {
        text-align: center;
        margin-bottom: 1.25rem;
    }

    .button-contact {
        background-color: #d98c0f;
        text-align: center;
        color: white;
        width: 60%;
        padding: 1.25rem 2.5rem;
        text-decoration: none;
        border-radius: 0.3125rem;
        font-size: 1em;
        display: inline-block;
    }

    .button-contact:hover {
        background-color: #b9760b;
    }

    /*--------------------------------end of onderhoud section--------------------------------*/
    /*--------------------------------start of contact page section--------------------------------*/

    .contact-header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 12.5rem;
        position: relative;
        overflow: hidden;
    }

    .background-image {
        position: absolute;
        filter: brightness(0.4);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .contact-text {
        color: #d98c0f;
        font-size: 3rem;
        font-weight: bold;
        z-index: 1;
    }

    .contact-container {
        margin-top: 2%;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: white;
    }

    .contact-left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .contact-right {
        margin: 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .contact-right address {
        text-align: left;
        background-color: #d98c0f;
        color: #1e1e1e;
        padding: 2.5rem 1.25rem;
        width: 100%;
        margin-bottom: 2rem;
    }

    .opening-hours {
        background-color: #1e1e1e;
        color: white;
        padding: 2.5rem 1.25rem;
        width: 100%;
        text-align: left;
    }

    .opening-hours h2 {
        color: #d98c0f;
        margin-bottom: 1.25rem;
    }

    .time-columns {
        display: flex;
        justify-content: space-between;
    }

    .days,
    .hours {
        display: flex;
        flex-direction: column;
    }

    .days span,
    .hours span {
        margin-bottom: 1.25rem;
    }




    .contact-content {
        width: 100%;
        background-color: #1e1e1e;
        padding: 2.5rem 3.75rem;
    }

    .contact-content h1 {
        color: #d98c0f;
        text-align: center;
        font-size: 3rem;
    }

    .contact-content p {
        text-align: center;
        color: white;
        font-size: 2rem;
    }

    form {
        display: flex;
        flex-direction: column;
        padding: 3.125rem;
    }

    form label,
    form legend {
        color: white;
    }

    form input {
        border-radius: 0.625rem;
        padding: 0.625rem;
        margin: 1.25rem 0;
        border: 0.125rem solid black;
        background-color: white;
        color: #fff;
    }

    form textarea {
        border-radius: 0.625rem;
        padding: 0.625rem;
        margin-bottom: 2.5rem;
        border: 0.125rem solid black;

    }

    form button {
        padding: 1.25rem;
        border-radius: 0.625rem;
        background-color: #d98c0f;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    form button:hover {
        background-color: #e68a00;
    }


    /*--------------------------------end of contact page section--------------------------------*/
}