@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;

}

body {
    font-family: Montserrat, Helvetica, sans-serif;
}

img {
    width: 100px;
}

.divider-line {
    height: 2px;
    background-color: #1e1e1e;
    width: 80%;
    margin: 20px auto;
}

h1,
h2 {
    font-family: Montserrat, Helvetica, sans-serif;
}


p,
span {
    font-family: ABeeZee, Montserrat, sans-serif;
}

@media (min-width: 769px) {
    /*--------------------------------start of nav section--------------------------------*/

    #nav-mobile {
        display: none;
    }

    #mainmenu {
        background-color: #1e1e1e;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        height: 50px;
        flex-wrap: wrap;
    }

    #mainmenu a.logo {
        margin-right: auto;
    }

    #mainmenu ul {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #1e1e1e;
        text-decoration: none;

    }

    #mainmenu ul li {
        margin-left: 2rem;
        text-decoration: none;

    }

    #mainmenu ul li a {
        text-decoration: none;
        list-style: none;
        border-bottom: none;
        color: white;
        background-color: #1e1e1e;
    }

    #mainmenu ul li a:hover {
        color: gray;
        text-decoration: none;
    }

    #mainmenu img {
        padding-left: 50px;
        width: 180px;
        height: 50px;
        background-color: #1e1e1e;
    }


    /*--------------------------------end of nav section--------------------------------*/


    /*--------------------------------start of main section--------------------------------*/

    .main-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 30%;
        margin-top: 1%;

    }

    .main-container>.inner-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        width: 80%;
        background-color: #1e1e1e;
    }

    .text-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px 0;

    }

    .text-content h1 {
        color: #d98c0f;
        max-width: 600px;
        font-size: 56px;
        line-height: 1.2;
        white-space: nowrap;
    }

    .text-content p {
        color: white;
        width: 100%;
        max-width: 600px;
        font-size: 20px;
        line-height: 1.5;
    }

    .image-content {
        margin: 20px 0;
        display: flex;
        justify-content: right;
        align-items: end;
    }

    .image-content img {
        width: 80%;
        height: auto;
        object-fit: cover;
        max-width: 1000px;
        max-height: 500px;
    }


    /*--------------------------------end of main/nav section--------------------------------*/




    /*--------------------------------start of cardlinks section--------------------------------*/

    .cardlinks-header {
        text-align: center;
        font-size: 32px;
    }

    .cardlinks-container {
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;
    }

    .cardlinks-container>.cardlinks-header {
        text-align: center;
    }

    .card {
        border: 3px double black;
        border-radius: 8px;
        overflow: hidden;
        width: 400px;
        height: 400px;
        background-color: #1e1e1e;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-header {

        background-color: #1e1e1e;
        padding: 10px;
        text-align: center;
        border-top: 1px solid #1e1e1e;
    }

    .card-header h2 {
        font-size: 1.5em;
        color: #d98c0f;
    }

    .card-image {
        text-align: center;
        padding: 15px 0;
    }

    .card-image img {
        width: 25%;
        height: auto;
    }

    .card-image figcaption {
        text-align: center;
        padding: 8px;
        font-size: 0.85em;
        color: #666;
    }

    .card-body {
        padding: 15px;
        font-size: 1em;
        color: white;
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        margin-bottom: auto;
    }

    .card-footer {
        padding: 10px;
        text-align: center;
        background-color: #1e1e1e;
        border-top: 1px solid #1e1e1e;
        margin-top: auto;
        display: flex;
        justify-content: center;
    }

    .card-button {
        background-color: #d98c0f;
        color: white;
        width: 65%;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 4px;
        font-size: 1em;
        display: inline-block;
    }

    .card-button:hover {
        background-color: #b9760b;
    }

    /*--------------------------------end of cardlinks section--------------------------------*/


    /*--------------------------------start of review section--------------------------------*/

    .reviews-header {
        text-align: center;
        font-size: 32px;
    }

    .reviews-container {
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;
    }

    .review-card {
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #fff;
        padding: 20px;
        width: 400px;
        text-align: left;
        margin: 10px;
        display: flex;
        flex-direction: column;
    }

    .review-rating {
        padding: 20px 0;
        font-size: 36px;
        text-align: left;
    }

    .review-card h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
        text-align: left;
    }

    .review-card p {
        margin: 5px 0;
        text-align: left;
        flex-grow: 1;
    }

    .review-card button {
        background-color: #007bff;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
    }

    .review-card button:hover {
        background-color: #0056b3;
    }

    .review-footer {
        display: flex;
        align-items: center;
        padding-top: 10px;
    }

    .person-icon {
        border-radius: 50%;
        border: 1px solid #1e1e1e;
        background-color: #474444;
    }

    .review-footer>img {
        font-size: 20px;
        width: 48px;
        height: 48px;
        margin-right: 10px;
    }

    .reviewer-info {
        display: flex;
        flex-direction: column;
    }

    .review-footer .reviewer-name {
        font-weight: bold;
        text-align: left;
        display: block;
    }

    .review-footer .review-date {
        font-size: 0.85em;
        color: #d98c0f;
        text-align: left;
        display: block;
    }

    /*--------------------------------end of review section--------------------------------*/

    /*--------------------------------star of footer section--------------------------------*/

    .footer-container {
        display: flex;
        justify-content: center;
        background-color: #1e1e1e;
        padding: 20px 0;
        text-align: left;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1400px;
        padding: 0 20px;
        background-color: #1e1e1e;
    }

    .information-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: #1e1e1e;
    }

    .information-text em {
        margin-bottom: 5px;
        background-color: #1e1e1e;
        color: white;
        font-weight: bold;
    }

    .information-text span {
        margin-bottom: 5px;
        background-color: #1e1e1e;
        color: white;
    }

    .information-text>.copyright {
        margin-top: 4%;
        color: #d98c0f
    }

    .footer-container aside {
        flex-grow: 0;
        padding: 10px;
        text-align: center;
    }

    /*--------------------------------start of onderhoud section--------------------------------*/
    .header-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }

    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 80%;
        padding: 15px 0;
        background-color: #1e1e1e;
    }

    .header-content h1 {
        color: #d98c0f;
        font-size: 36px;
    }

    .header-content p {
        color: white;
        font-size: 20px;
        max-width: 40%;
        margin: 0 auto;

    }

    .main-container-detail {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;

    }

    .onderhoud-content {
        display: flex;
        width: 80%;
        background-color: #d98c0f;
    }

    .onderhoud-text {
        width: 80%;
        padding: 20px;
    }

    .onderhoud-text p {
        margin-bottom: 20px;
        font-size: 20px;
    }


    .onderhoud-content img {
        width: 20%;
        object-fit: cover;
    }

    .second-container-detail {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .second-content-detail {
        display: flex;
        flex-direction: row;
        width: 80%;


    }

    .left-part {
        width: 50%;
        padding: 20px;
        text-align: center;
    }

    .left-part ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .left-part li {
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    .right-part {
        width: 50%;
        padding: 20px;
        text-align: center;
    }

    .right-part ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .right-part li {
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    .third-container-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .third-content-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .header-third-detail {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .header-third-detail h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .button-contact {
        background-color: #d98c0f;
        text-align: center;
        color: white;
        width: 20%;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 4px;
        font-size: 1em;
        display: inline-block;
    }

    .button-contact:hover {
        background-color: #b9760b;
    }

    /*--------------------------------end of onderhoud section--------------------------------*/
}

@media (max-width: 768px) {
    #nav-desktop {
        display: none;
    }

    #nav-mobile {
        background-color: #1e1e1e;
        width: 100%;
        height: 50px;
    }

    #menu-toggle {
        display: none;
    }

    .hamburger {
        position: absolute;
        top: 10px;
        right: 0px;
        width: 30px;
        height: 20px;
        cursor: pointer;
    }

    .hamburger span {
        position: absolute;
        left: 0;
        right: 0;
        height: 3px;
        background-color: #d98c0f;
    }

    .hamburger span:nth-child(1) {
        top: 0;
    }

    .hamburger span:nth-child(2) {
        top: 9px;
    }

    .hamburger span:nth-child(3) {
        bottom: 0;
    }

    .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 120px;
        height: 100%;
        background-color: #1e1e1e;
        color: #1e1e1e;
        transform: translateX(300px);
    }

    .menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .menu ul li {
        padding: 10px;
    }

    .menu ul li a {
        color: #FFF;
        text-decoration: none;
    }

    #menu-toggle:checked~.menu {
        transform: translateX(0);
    }

    /*--------------------------------end of nav section--------------------------------*/


    /*--------------------------------start of main section--------------------------------*/

    .main-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 30%;
        margin-top: 1%;

    }

    .main-container>.inner-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        background-color: #d98c0f;
    }

    .text-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px 0;

    }

    .text-content h1 {
        color: #1e1e1e;
        max-width: 100%;
        font-size: 40px;
        line-height: 1.2;
    }

    .text-content p {
        color: #1e1e1e;
        width: 100%;
        max-width: 600px;
        font-size: 20px;
        line-height: 1.5;
    }

    .image-content {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-content img {
        width: 80%;
        height: auto;
        object-fit: cover;
        max-width: 1000px;
        max-height: 500px;
    }


    /*--------------------------------end of main/nav section--------------------------------*/




    /*--------------------------------start of cardlinks section--------------------------------*/

    .cardlinks-header {
        text-align: center;
        font-size: 32px;
    }

    .cardlinks-container {
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;
    }

    .cardlinks-container>.cardlinks-header {
        text-align: center;
    }

    .card {
        border: 3px double black;
        border-radius: 8px;
        overflow: hidden;
        width: 400px;
        height: 400px;
        background-color: #1e1e1e;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-header {

        background-color: #1e1e1e;
        padding: 10px;
        text-align: center;
        border-top: 1px solid #1e1e1e;
    }

    .card-header h2 {
        font-size: 1.5em;
        color: #d98c0f;
    }

    .card-image {
        text-align: center;
        padding: 15px 0;
    }

    .card-image img {
        width: 25%;
        height: auto;
    }

    .card-image figcaption {
        text-align: center;
        padding: 8px;
        font-size: 0.85em;
        color: #666;
    }

    .card-body {
        padding: 15px;
        font-size: 1em;
        color: white;
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        margin-bottom: auto;
    }

    .card-footer {
        padding: 10px;
        text-align: center;
        background-color: #1e1e1e;
        border-top: 1px solid #1e1e1e;
        margin-top: auto;
        display: flex;
        justify-content: center;
    }

    .card-button {
        background-color: #d98c0f;
        color: white;
        width: 65%;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 4px;
        font-size: 1em;
        display: inline-block;
    }

    .card-button:hover {
        background-color: #b9760b;
    }

    /*--------------------------------end of cardlinks section--------------------------------*/


    /*--------------------------------start of review section--------------------------------*/

    .reviews-header {
        text-align: center;
        font-size: 32px;
    }

    .reviews-container {
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;
    }

    .review-card {
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #fff;
        padding: 20px;
        width: 400px;
        text-align: left;
        margin: 10px;
        display: flex;
        flex-direction: column;
    }

    .review-rating {
        padding: 20px 0;
        font-size: 36px;
        text-align: left;
    }

    .review-card h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
        text-align: left;
    }

    .review-card p {
        margin: 5px 0;
        text-align: left;
        flex-grow: 1;
    }

    .review-card button {
        background-color: #007bff;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
    }

    .review-card button:hover {
        background-color: #0056b3;
    }

    .review-footer {
        display: flex;
        align-items: center;
        padding-top: 10px;
    }

    .person-icon {
        border-radius: 50%;
        border: 1px solid #1e1e1e;
        padding: 10px;
        background-color: #474444;
    }

    .review-footer>img {
        font-size: 20px;
        width: 48px;
        height: 48px;
        margin-right: 10px;
    }

    .reviewer-info {
        display: flex;
        flex-direction: column;
    }

    .review-footer .reviewer-name {
        font-weight: bold;
        text-align: left;
        display: block;
    }

    .review-footer .review-date {
        font-size: 0.85em;
        color: #d98c0f;
        text-align: left;
        display: block;
    }

    /*--------------------------------end of review section--------------------------------*/

    /*--------------------------------star of footer section--------------------------------*/

    .footer-container {
        display: flex;
        justify-content: center;
        background-color: #1e1e1e;
        padding: 20px 0;
        text-align: left;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1400px;
        padding: 0 20px;
        background-color: #1e1e1e;
    }

    .information-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: #1e1e1e;
    }

    .information-text em {
        margin-bottom: 5px;
        background-color: #1e1e1e;
        color: white;
        font-weight: bold;
    }

    .information-text span {
        margin-bottom: 5px;
        background-color: #1e1e1e;
        color: white;
    }

    .information-text>.copyright {
        margin-top: 4%;
        color: #d98c0f
    }

    .footer-container aside {
        display: none;
    }

    /*--------------------------------start of onderhoud section--------------------------------*/
    .header-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }

    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 80%;
        padding: 15px 0;
        background-color: #1e1e1e;
    }

    .header-content h1 {
        color: #d98c0f;
        font-size: 36px;
    }

    .header-content p {
        color: white;
        font-size: 20px;
        max-width: 40%;
        margin: 0 auto;

    }

    .main-container-detail {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;

    }

    .onderhoud-content {
        display: flex;
        width: 80%;
        background-color: #d98c0f;
    }

    .onderhoud-text {
        width: 80%;
        padding: 20px;
    }

    .onderhoud-text p {
        margin-bottom: 20px;
        font-size: 20px;
    }


    .onderhoud-content img {
        width: 20%;
        object-fit: cover;
    }

    .second-container-detail {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .second-content-detail {
        display: flex;
        flex-direction: row;
        width: 80%;


    }

    .left-part {
        width: 50%;
        padding: 20px;
        text-align: center;
    }

    .left-part ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .left-part li {
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    .right-part {
        width: 50%;
        padding: 20px;
        text-align: center;
    }

    .right-part ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .right-part li {
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    .third-container-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .third-content-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .header-third-detail {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .header-third-detail h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .button-contact {
        background-color: #d98c0f;
        text-align: center;
        color: white;
        width: 20%;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 4px;
        font-size: 1em;
        display: inline-block;
    }

    .button-contact:hover {
        background-color: #b9760b;
    }

    /*--------------------------------end of onderhoud section--------------------------------*/
}